{% extends 'libsys/LLLL.html' %}

{% block content %}
	{% for Student in object_list %}
	<div class="col-md-12">
		
		<a href="{% url 'stu_detail' Student.pk %}">

	<div class="container">
		
 
       
      
    
			{{ Student.name }}
			
</div>
		</a>
	


	
	<div class="col-md-12">
		<a href="{% url 'stu_update' Student.pk %}">
			<button>Update</button>
		</a>
	</div>



	<div class="col-md-2">
		<form action="{% url 'stu_delete' Student.pk %}" method="post" accept-charset="utf-8">
			{% csrf_token %}
    		<input type="submit" value="Delete" />
		</form>
	</div>


	

	{% endfor %}

<div class="col-md-12">
		<a href="{% url 'stu_create' %}">
			Submit Student list
		</a>
	</div>

</div>

{% endblock %}


